/***** common style *****/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/***** main *****/

main{
    height: 100vh;
    width: auto;
    background-color: blue;
}

.container{
    height: 90%;
    width: auto;
    background-color: red;
}

.container-anteprime-flex{
    background-color: green;
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    
    
}

.card{
    width: calc(100% / 7);
    height: calc(80vh / 5);
    padding-right: 0.3rem;
    margin-bottom: 0.3rem;
    
}
img{
    width: 100%;
    height: calc(80vh / 5 - 0.25rem);
    
}
/***** footer toolbar *****/

.toolbar{
    height: 10%;
    width: auto;
    color: aliceblue;
    background-color: black;
}